.packageMain{
    
    background-color: #adcbf2;
    border: double;
  
   
}
.packageHeader{
   
  
 font-family: 'Times New Roman', serif;
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  font-size: 80px;
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #3a4f6c;
  text-shadow: 1px 1px 1px #333;
   background-image: linear-gradient(135deg, #3b43da69 10%, #e00a756b 100%);
  
}

.PackageDiscription{
    padding :  50px;
font-family: 'Leckerli One', cursive;
color: #76066c;
}

.packageTitle
{
    text-align: center; 
    font-size: 40px;
  font-weight: 500; 
  padding: 20;
}


.packageBody{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    font-weight: 100;
    background-repeat: no-repeat;
    display: block;
    box-sizing: border-box;
   
    
    
}

.card{
    

    padding: 10px;
    border: 4px solid #a2a2dd;
    text-align:left ;
    background-image: linear-gradient(
        var(--card-gradient),
        white max(9.5rem, 27vh)
      );
      overflow: hidden;}


  .imagePackage{
        border-radius: 0.5rem 0.5rem 0 0;
        
        object-fit: cover;
        
        max-height: max(10rem, 30vh);
        aspect-ratio: 4/3;
       
        }
    
    




    
