.previewContainer{
    width: 100%;
    height: 100vh;
    background-color: #b8b8b8;
    padding-top: 7%;
}

.hotelImg{
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 25px;
    background-color: aquamarine;
    overflow: hidden;
    display: block;
}

.hotelbtn{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 2;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    border: 0.5px solid white;
    background-color: transparent;
}

.faci{
    text-decoration: solid;
    text-transform: uppercase;
    font-weight: bold;
}