.attractionsContainer {
    width: 100%;
    height: 100vh;
}

.attImgContainer {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/journeyly-7f164.appspot.com/o/images%2Fothers%2Fbg2.jpg?alt=media&token=2e0e413c-84ea-418e-8758-a251009776cb);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.attblurContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(8px);
}

.attImgContainer h1 {
    color: white;
    font-size: 100px;
    margin-left: 10%;
    margin-top: 10%;
    position: absolute;
    z-index: 2;
}

.attImgContainer h2 {
    color: white;
    font-size: 40px;
    margin-left: 10%;
    margin-top: 18%;
    position: absolute;
    z-index: 2;
}

.attImgContainer h3 {
    color: white;
    font-size: 28px;
    margin-left: 10%;
    margin-top: 22%;
    position: absolute;
    z-index: 2;
}