.attractionsContainer {
    width: 100%;
    height: 100vh;
}

.attImgContainer {

    background-image: url(https://firebasestorage.googleapis.com/v0/b/journeyly-7f164.appspot.com/o/images%2Fothers%2Fticketback.jpg?alt=media&token=4b152c76-5d84-4f04-8406-eb5c3905843f);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.attblurContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(8px);
}

.attImgContainer h1 {
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 55px;
    margin-left: 10%;
    margin-top: 10%;
    position: absolute;
    z-index: 2;
}

.attImgContainer h2 {
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 10%;
    margin-top: 15%;
    position: absolute;
    z-index: 2;
    font-weight: lighter;
}

.attImgContainer h3 {
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 10%;
    margin-top: 18%;
    position: absolute;
    z-index: 2;
    line-height: 30px;
    font-weight: lighter;
}