.BookingsContainer {
    margin-left: 280px;
    background-color: #d0e4e6;
    height: 100vh;
}

.topicCont {
    width: 100%;
    height: 15%;
    padding-left: 30px;
    padding-top: 30px;
}

.topicCont h1 {
    font-weight: bold;
    color: #0b838e;
}

.bookingsBodyCont {
    width: 100%;
    height: 85%;
}

.bookingsTabCont {
    width: 100%;
}

.bookingsList {
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

.bookingsListItem {
    padding: 15px;
    width: 15%;
    text-align: center;
    /* background-color: transparent;
    color: #0b838e; */
    border: #ffffff79 2px solid;
    color: #0b838e;
    background-color: #d0e4e6;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 5px 5px 5px 2px #0b838e2d;
}

.bookingsListItem:hover {
    color: #d0e4e6;
    background-color: #0b838e;
}