.desresContainer {
    /* background-color: aqua; */
    text-align: center;
    padding-top: 7%;
    width: 100%;
}

.desreseinnercontainer {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}