.homeCont {
    font-family: 'Poppins', sans-serif;
}

.carouselCont {
    height: 100vh;
}

.heroCont1 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/journeyly-7f164.appspot.com/o/images%2Fothers%2Fhero1.webp?alt=media&token=7dc23245-ff92-4615-847f-a489061fd35e);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroCont2 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/journeyly-7f164.appspot.com/o/images%2Fothers%2Fhero2.webp?alt=media&token=906ed35e-922b-4512-a7aa-bab28fb4a97d);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroCont3 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/journeyly-7f164.appspot.com/o/images%2Fothers%2Fhero3.webp?alt=media&token=bd84796b-125e-42be-a48f-7c936da8a72a);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroText1 {
    width: 60%;
    height: 55%;
    text-align: center;
    position: absolute;
    top: 22%;
    left: 20%;
    border: 1px solid rgba(255, 255, 255, 0.067);
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.136);
    backdrop-filter: blur(8px);
    box-shadow: 20px 15px 30px 10px rgba(0, 0, 0, 0.162);
}

.carousalCap Button {
    border-radius: 50px;
    padding: 10px 20px;
}

.heroText1 h1 {
    color: rgb(255, 255, 255);
}

.heroText1 p {
    color: rgb(255, 255, 255);
}

.heroText1 img {
    width: 90%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroText {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.heroText img {
    width: 80%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}