.NavbarCont {
    width: 100%;
    position: fixed;
    /* padding-top: 20px; */
    padding: 7px 0px;
    left: 0px;
    top: 0px;
    z-index: 2;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.073);
    backdrop-filter: blur(4px);
}

.NavbarLogo {}

.NavbarCont img {
    width: 160px;
    height: auto;
}

.NavbarList {}

.me-auto {
    margin-left: 100px;
}

.navlink {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px 35px;
}

/* .NavbarList Button {
    border-radius: 50px;
    padding: 10px 20px;
} */

/* .btnContainerlogin {
    width: 100%;
    display: flex;
    justify-content: space-around;
} */