.NavbarCont {
    width: 100%;
    position: fixed;
    padding-top: 25px;
    left: 0px;
    top: 0px;
    z-index: 2;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.NavbarLogo {
}

.NavbarCont img {
    width: 160px;
    height: auto;
}

.NavbarList {
}

.me-auto {
    margin-left: 100px;
}

.navlink{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px 35px;
}

.NavbarList Button {
    border-radius: 50px;
    padding: 10px 20px;
}