.previewBG{
    width: 100%;
    height: 100vh;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/journeyly-7f164.appspot.com/o/images%2Fothers%2FflightPrev.webp?alt=media&token=7c598f17-3c75-4ad3-9d24-159c0e8ce097);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
}

.pic{
    width: 100%;
    height: 100%; 
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: block;
    border-radius: 25px;
}
.textPart{
    text-align: left;
}
.texts{
    align-content: center;
}
.flightBtn{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgb(249, 247, 247);
    color: black;
    border: 0.5px solid black;
    transition: 310ms;
    text-decoration: none;
}
.flightBtn:hover{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 0.5px solid white;
    transition: 310ms;
    text-decoration: none;
}