.RegistrationFormMainCont {
  width: 100%;
  height: 100vh;
  color: white;
}

.RegistrationFormInnerCont {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/journeyly-7f164.appspot.com/o/images%2Fothers%2Fbgs2.jpg?alt=media&token=2002f48d-ff16-48da-860b-4a752f6a2542);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

.RegistrationFormCont {
  width: 45%;
  border-radius: 20px;
  padding: 70px 0px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.284);
  backdrop-filter: blur(10px);
}

.googleIcon {
  width: 27px;
  padding: 0 7px 0 0;
}