
.userprofiletopic{
    text-align:center;
}
.userprofilecontainer{
   
     /* background-color: blueviolet;
    text-align:center; */
}

.card-container{
    width: 60%;
    height:600px;
    background: #FFF;
    border-radius: 6px;
    position:absolute;
    top:45%;
    left:50%;
    transform: translate(-40%,-40%); 
    box-shadow: 0px -1px 10px 2px rgba(0, 0, 0, 0.719);
    /* background-color: #d0e4e693; */
}

.upper-container{
    height:150px;
    width: 100%;
    background-image: url("https://img.icons8.com/fluency/96/000000/user-male-circle.png"); 
    background: #7dcbe3;

}

.image-container{
    width:120px;
    height:120px;
    transform:translate(60px,60px);
}

.image-container img{
    width:150px;
    height:150px;
    
}

.lower-container{
    height: 280px;
    text-align: justify;
    padding: 150px 100px 100px 150px;
}


.btnprofile{
    padding: 38px;
    margin-left: 20px;
}