@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.UserProfileMainCont {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  overflow: scroll;
}

.UserProfileCont {
  width: 100%;
  height: 80%;
  margin-top: 3%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.068);
}

.btnprofile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 93%;
  height: 88%;
  background: #fff;
  overflow: hidden;
  margin: 30px 10px;
  border-radius: 15px;
  overflow: hidden;
}

.upper-container {
  height: 180px;
  width: 100%;
  background-image: url("../../images/banner3.jpg");
}

.lower-container {
  position: absolute;
  top: 5vh;
  left: 1vw;
  right: 0vw;
  margin: 0 auto;
  width: 95%;
  height: 80vh;
  text-align: justify;
}

/* profile data */
.profile-container {
  width: 32%;
  padding-top: 18px;
  padding-bottom: 23px;
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
}

.tableprofile td,
th {
  font-size: 15px;
  padding: 5px 5px;
}

.info-card {
  width: 70%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.068);
}

/* recently traveled */
.recent-container {
  height: 22vh;
  overflow: hidden;
  position: relative;
}

.recent-container img {
  object-fit: cover;
}

.overlay {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 30%;
  position: absolute;
}

.recent-title {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.recent-content {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 10px;
  padding: 0 20px;
  font-weight: 600;
  font-size: 15px;
  color: white;
}

.light-bg {
  background-color: #d0eef3;
}

.gray-bg {
  background-color: #fafafa;
}

.calender {
  width: auto;
  padding: 0 17px;
}

.weather-card {
  width: 98%;
}

/*  weather css */
.weather-container {
  overflow: hidden;
  z-index: 10;
  position: relative;
  margin: 0 auto;
  height: 300px;
  width: 100%;
  background-color: #1e95ff;
  border-radius: 10px;
}

/*  weather card  */

.Circle1 {
  z-index: 100;
  position: absolute;
  height: 180px;
  width: 180px;
  right: -20px;
  top: -30px;
  border-radius: 50%;
  background-color: #fdf7a0;
  animation: enlarge;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.Circle2 {
  z-index: 80;
  position: absolute;
  height: 250px;
  width: 250px;
  right: -50px;
  top: -70px;
  border-radius: 50%;
  background-color: #a0d7fd;
  animation: enlarge;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.Circle3 {
  z-index: 50;
  position: absolute;
  height: 320px;
  width: 320px;
  right: -50px;
  top: -100px;
  border-radius: 50%;
  background-color: #80c9fe;
  animation: enlarge;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

/*  CONTENT  */

.sun {
  z-index: 1000;
  font-size: 15px !important;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.Condition {
  z-index: 1000;
  position: absolute;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  left: 20px;
  top: 35%;
}

.Temp {
  z-index: 1000;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  left: 20px;
  top: 55%;
}

#F {
  z-index: 1000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.Time {
  z-index: 1000;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 200;
  right: 20px;
  top: 10px;
}

.Location {
  z-index: 1000;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  right: 20px;
  bottom: 15px;
}

@keyframes enlarge {
  50% {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1400px) {
  .card-container {
    width: 85%;
    height: 82vh;
    margin: 50px 40px;
  }

  .upper-container {
    height: 220px;
  }

  .lower-container {
    top: 10vh;
    height: fit-content;
  }

  .tableprofile td,
  th {
    font-size: 14px;
    padding: 10px 0px;
  }

  .recent-title {
    top: 15px;
  }
}